.centerAligned {
  text-align: center;
}

.showRates {
  width: 125px;
  max-width: 125px;
  text-align: center;
}

.actionColumn {
  width: 175px;
  max-width: 175px;
}

.mediumColumn {
  width: 150px;
  max-width: 150px;
}

.bigColumn {
  width: 285px;
  max-width: 285px;
}
