
.multiRowHeader {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  background-color: white;//$placeholder-color;
}

.tableWrapper {
  width: 855px;
}

.centerAlign {
  text-align: center;
}

.firstLink {
  margin-right: 32px;
}

.noMargin {
  margin: 0;
}

.suffix {
  margin-left: 8px;
}

.numberSmallInput {
  width: 85px;
}
